<div class="left-nav-filter">
    <a data-ng-click="showhide()" href="#" class="btn btn-primary btn-lg toggle"><i class="glyphicon glyphicon-filter"></i></a>
    <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <a data-ng-click="showhide()" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="glyphicon glyphicon-remove"></i></a>
              <li class="sidebar-brand">
                <a href="#">Project name</a>
              </li>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#about">About</a>
              </li>
              <li>
                <a href="#contact">Contact</a>
              </li>
         </ul>
    </div>
</div>
